#OuterContainer{
	position: relative;
	height: 116px;
	width: 100%;
	text-align: center;
	background-color: gray;
	table-layout: fixed;
}


#col{
	width: 20%;
	height: 100%;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
