#ProjectCard {
	background-color: #C0C0C0;
        outline-style: solid;
        outline-color: #000000;
}	

#ProjSize {
	outline-style: dotted;
	outline-color: #39771f;
}

#ProjComp {
	outline-style: dotted;
	outline-color: #39771f;
}

#Description {

}

#ApplyDL {
}

#SubmitDL {
}

#Reward {

}

#ShowMore {
	display: flex;
	align-items: center;
	justify-content: center;
}

#showmore {
    width: 125px;
    border-radius: 25px;
    border: 2px solid #000000;
    padding: 20px;
    -webkit-transition-duration: 0.4s;
    transition-duration:  0.4s;
}

#showmore:hover {

    background-color: #73AD21;
    color: black;
    cursor: pointer;

}

#showmore:active,
#showmore:focus,
#showmore.active {

        background-image: none;
        outline: 0;
        -webkit-box-shadow: none;
          box-shadow: none;
}

