#TopRow {
	display: inline-block;
	margin-left: 25%;
}

#BottomRow {
	display: inline-block;
	margin-left: 25%;
}

#PhotosBox {
	width: 100%;
}

#Top1 {
	display: inline-block;
	width: 20%;
}

#Top2{
	display: inline-block;
	width: 20%;
}

#Top3{
	display: inline-block;
	width: 20%;
}

#Top4{
	display: inline-block;
	width: 20%;
}

#Bottom1 {
        display: inline-block;
        width: 20%;
}

#Bottom2{
        display: inline-block;
        width: 20%;
}

#Bottom3{
        display: inline-block;
        width: 20%;
}

#Bottom4{ 
        display: inline-block;
        width: 20%;
}

#ClientsInfo{
	margin-top: 250px;

}

#header{
	text-align: center;

	height: 45px;
	margin-top: 45px;
}
