#ProfileWrap {
	height: 100%;
	width: 100%;
	float: center;
	margin-right: 10%;
	margin-left: 10%;
	display: grid;
	grid-gap: 10px;
        grid-template-columns: repeat(8, 1fr);
	grid-auto-rows: 100px;
        grid-template-areas: 
    	"a a b b c c"
    	"a a b b c c"
    	"d d e e f f"
    	"d d e e f f"
	"g g g g g g";
	align-items: start;
}

#UserPhoto {
	width: 100%;
	height: 100%;
	grid-area: a;
  	align-self: center;
  	justify-self: center;
}

#LogInInfo {
	grid-area: b;
  	align-self: center;
  	justify-self: center;
}

#ExperienceInfo {
	grid-area: c;
        align-self: center;
        justify-self: center;
}

#Interests {
	grid-area: d;
        align-self: center;
        justify-self: center;
}

#Skills {
	grid-area: e;
        align-self: center;
        justify-self: center;
}

#Software {
	grid-area: f;
        align-self: center;
        justify-self: center;
}

#Completed {
	grid-area: g;
        align-self: center;
        justify-self: center;
}
