#ProfileWrap {
	height: 100%;
	width: 100%;
	float: center;
	margin-right: 10%;
	margin-left: 10%;
	display: grid;
	grid-gap: 10px;
        grid-template-columns: repeat(8, 1fr);
	grid-auto-rows: 100px;
        grid-template-areas: 
    	"a a b b c c"
    	"a a b b c c"
    	"d d e e f f"
    	"d d e e f f"
	"g g g g g g"
	"h h h h h h"
	"i i i i i i";
	align-items: start;
}

#UserPhoto {
	width: 100%;
	height: 100%;
	grid-area: a;
  	align-self: center;
  	justify-self: center;
}

#LogInInfo {
	grid-area: b;
  	align-self: center;
  	justify-self: center;
}

#ExperienceInfo {
	grid-area: c;
        align-self: center;
        justify-self: center;
}

#Interests {
	grid-area: d;
        align-self: center;
        justify-self: center;
}

#Skills {
	grid-area: e;
        align-self: center;
        justify-self: center;
}

#Software {
	grid-area: f;
        align-self: center;
        justify-self: center;
}

#Completed {
	grid-area: h;
        align-self: center;
        justify-self: center;
}

#Editing {
	grid-area: g;
	align-self: center;
	justify-self: center;
}

#SignOut{
	grid-area: i;
	align-self: center;
	justify-self: center;
}

#editprofile {
    width: 260px;
    border-radius: 25px;
    border: 2px solid #000000;
    padding: 20px;
    -webkit-transition-duration: 0.4s;
    transition-duration:  0.4s;

}

#editprofile:hover {

    background-color: #73AD21;
    color: black;
    cursor: pointer;

}

#editprofile:active,
#editprofile:focus,
#editprofile.active {

        background-image: none;
        outline: 0;
        -webkit-box-shadow: none;
          box-shadow: none;
}

#signingout {
    width: 260px;
    border-radius: 25px;
    border: 2px solid #000000;
    padding: 20px;
    -webkit-transition-duration: 0.4s;
    transition-duration:  0.4s;

}

#signingout:hover {

    background-color: #73AD21;
    color: black;
    cursor: pointer;

}

#signingout:active,
#signingout:focus,
#signingout.active {

        background-image: none;
        outline: 0;
        -webkit-box-shadow: none;
          box-shadow: none;
}
