#AU {
    position: absolute;
    right: 317px;
}

#AP {
    position: absolute;
    right: 173px;
}

#CU {
    position: absolute;
    right: 73px;
}

#SI {
    position: absolute;
    right: 5px;
}
