#AU {
    position: absolute;
    right: calc(5% + 317px);
    padding-top: 8px;
}

#AP {
    position: absolute;
    right: calc(5% + 173px);
    padding-top: 8px;
}

#CU {
    position: absolute;
    right: calc(5% + 73px);
    padding-top: 8px;
}

#SI {
    position: absolute;
    right: calc(5% + 5px);
    padding-top: 8px;
}

#UP {
    position: absolute;
    right: calc(5% + 5px);
    padding-top: 8px;
}
