#AU {
    position: absolute;
    right: calc(10% + 317px);
}

#AP {
    position: absolute;
    right: calc(10% + 173px);
}

#CU {
    position: absolute;
    right: calc(10% + 73px);
}

#SI {
    position: absolute;
    right: calc(10% + 5px);
}
