#Image{
    position: block;
    margin-right: auto;
    margin-left: auto;
    position: relative;
}

#small{
	heigth: 45%;
	width: 45%;
}

#medium{
	height: 60%;
	width: 60%;
}

#large{
	height: 75%;
	width: 75%;
}

#xlarge{
	height: 95%;
	width: 95%;
}
