#Image{
    position: block;
    margin-right: auto;
    margin-left: auto;
    position: relative;
}

#smallIMG{
	heigth: 45%;
	width: 45%;
}

#mediumIMG{
	height: 60%;
	width: 60%;
}

#largeIMG{
	height: 75%;
	width: 75%;
}

#xlargeIMG{
	height: 95%;
	width: 95%;
}
