#IntroHeading {
    text-align: center;
}

#MainHeading {
    text-align: center;
}

#Paragraphs {
    position: relative;
    float: right;
    text-align: left;
    width: 35%;
    margin-right: 15%;
}

#Image {
	width: 75%;
	height: 75%;
}
