#ASUWrapper {     
	padding-top: 20px;
	padding-bottom: 20px;
	height: 100%;  
	width: 100%;
	margin-left: 10%;
	margin-right: 10%;
	display: grid;
        grid-gap: 10px;
        grid-template-columns: repeat(8, 1fr);
        grid-auto-rows: 100px;
        grid-template-areas:
        "a a a a a a"
        "b b c c d d"
        "b b c c d d"
	"e e e e e e";
        align-items: start;
}

#Message {
        grid-area: a;
        align-self: center;
        justify-self: center;	
	text-align: center;
}

#AboutButton {
        grid-area: b;
        align-self: center;
        justify-self: center;
	text-align: center;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#aboutpic {
        align-self: center;
        justify-self: center;
	display: inline-block;
}

#abouttext {
	text-align: left;
	margin-left: 15%;
}

#PeopleButton {        
	grid-area: c;
        align-self: center;
        justify-self: center;
}

#peoplepic {
        align-self: center;
        justify-self: center;
}

#peopletext {
	text-align: left;
}

#StatsButton {
	grid-area: d;
	align-self: center;
	justify-self: center;
}

#statspic {
        align-self: center;
        justify-self: center;
	display: inline-block;
}

#statstext {
	text-align: left;
}

#CTPbutton {
    width: 150px;
    border-radius: 25px;
    border: 2px solid #000000;
    padding: 20px;
    -webkit-transition-duration: 0.4s;
    transition-duration:  0.4s;
    font-size: 15px;
}

#CTPbutton:hover {

    background-color: #73AD21;
    color: black;
    cursor: pointer;

}

#CTPbutton:active,
#CTPbutton:focus,
#CTPbutton.active {

        background-image: none;
        outline: 0;
        -webkit-box-shadow: none;
          box-shadow: none;
}

#linkButton {
	grid-area: e;
	align-self: center;
	justify-self: center;
}
