#VirtualInterview {
    width: 260px;
    border-radius: 25px;
    border: 2px solid #000000;
    padding: 20px;
    -webkit-transition-duration: 0.4s;
    transition-duration:  0.4s;

} 

#VirtualInterview:hover {

    background-color: #73AD21;
    color: black;
    cursor: pointer;

}

#VirtualInterview:active,
#VirtualInterview:focus,
#VirtualInterview.active {

  	background-image: none;
  	outline: 0;
  	-webkit-box-shadow: none;
          box-shadow: none;
}
