#Small {
	display: inline-block;
	width: 20%;
	margin-right: -6%;
	text-align: center;
}

#Big {
	display: inline-block;
	width: 20%;
	margin-right: -6%;
	margin-left: -3%;
	text-align: center;
}

#Bigger {
	display: inline-block;
	width: 20%;
	margin-right: -3%;
	text-align: center;
}
	
#Biggest {
	display: inline-block;
	width: 20%; 
	margin-right: -2%;
	text-align: center;
}

#HeadingText{
	text-align: center;
}
