DDCWrapper#{
	position: absolute;
	width: 100%;
}

#LeftPars{
	width: 50%;
        text-align: left;
	margin-left: auto;
	margin-right: auto;
}

#IMG{
	margin-left: auto;
	margin-right: auto;
	position: absolute;
}

