#signIn{
        background-color: white;
        z-index: 100;
        position:absolute;
        top: 15%;
        text-align: center;
        width: 25%;
        left: 37.5%;

        border-radius: 25px;
        border: 2px solid green;
}

#catcher{
        width: 100% !important;
        margin-left: -5% !important;
        height: 100%;
        background-color: lightgray;
        border-left: 1px solid lightgray;
        opacity: .75;
        position: absolute;
        top:0;
        z-index: 50;
}

#head{

        background-color: transparent;
        border:0px;
        border-bottom: 1px solid lightgray;
}

#cont{
        position:absolute;
        top: 36px;
        left:0px;
        right:0px;
        padding-left: 5%;
        padding-right: calc(5% - 2px);
        bottom:0px;
        overflow-y:scroll;
}

#bord{
        border: 1px;
        margin-top: -100%;
        padding-top: 100%;
        border-top-width: 0px;
        border-bottom-width: 0px;
        border-color: #f2f2f2;
        border-style: solid;
        margin-bottom: -100%;
        padding-bottom: 0%;
}
