.App {
  text-align: center;
  background-color: white;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40px;
}

.App-header {
  background-color: #442;
  height: 60px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1em;
}

.App-intro {
  font-size: large;
}

#Input-Form{
  position: relative;
  background-color: lightblue;
  padding-right: auto;
  padding-left: auto;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


#WelcomeContainer{
	position: releative;
	background-color: purple;
	bottom: 60px;
}

#LandingContainer{
	
	background-color: blue;
}
