body {
  margin: 0;
  margin-left: 5%;
  width: 90%;
  padding: 0.5px;
  font-family: sans-serif;
  border: 0.5px;
  border-top-width: 0px;
  border-bottom-width: 0px;
  border-color: #f2f2f2;
  border-style: solid;
}
