#descriptionwrap {
	background-color: #ededed;
	width: 50%;
	height: 25%;
	text-align: center;
	border: solid;
}

#projtype {
	width: 100%;
	text-align: center;
}

#time {
	width: 100%;
	text-align: center;
}

#deadlines {
	width: 100%;
	text-align: center;
}

#requirements {
	width: 100%;
	text-align: center;
}

#reward {
	width: 100%;
	text-align: center;
}
