#SignUpForm {
        font-family: "Trebuchet MS", Helvetica, sans-serif;
}

#SignUpHeader {
        font-family: "Trebuchet MS", Helvetica, sans-serif;
}	

#SignUpWrapper {
	border-style: solid;
        border-color: #6bc446;
	background-color: #ededed;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
}

#SUfirstName {
        padding-top: 1% !important;
        padding-bottom: 1% !important;
        font-family: "Trebuchet MS", Helvetica, sans-serif;
        border: 3px solid green;
        border-radius: 25px;
        text-align: center;
}

#SUlastName {
        padding-top: 1% !important;
        padding-bottom: 1% !important;
        font-family: "Trebuchet MS", Helvetica, sans-serif;
        border: 3px solid green;
        border-radius: 25px;
        text-align: center;
}

#SUemail {
        padding-top: 1% !important;
        padding-bottom: 1% !important;
        font-family: "Trebuchet MS", Helvetica, sans-serif;
        border: 3px solid green;
        border-radius: 25px;
        text-align: center;
}

#SUpassword {
        padding-top: 1% !important;
        padding-bottom: 1% !important;
        font-family: "Trebuchet MS", Helvetica, sans-serif;
        border: 3px solid green;
        border-radius: 25px;
        text-align: center;
}


#SUbutton {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 15px;
    width: 140px;
    border-radius: 25px;
    border: 2px solid #000000;
    padding: 20px;
    -webkit-transition-duration: 0.4s;
    transition-duration:  0.4s;
}

#SUbutton:hover {

    background-color: #73AD21;
    color: black;
    cursor: pointer;

}

#SUbutton:active,
#SUbutton:focus,
#SUbutton.active {

        background-image: none;
        outline: 0;
        -webkit-box-shadow: none;
          box-shadow: none;
}

#SUbuttonwrap {
	padding-top: 10px;
	padding-bottom: 10px;
}
