#WCWrapper{
	width: 100%;
	position: absolute;
}

#pic{
	text-align: left;
	padding-left:350px;
	position: absolute;
	top: 0;
}

#par{
	width: 272px;
	height: 201px;
	margin-top: 50px;
	text-align: left;
	padding-left: 10%;
	    font-family: 'OpenSans', 'Open Sans';
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    line-height: 28px;
    word-wrap: break-word;
}

